[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[alias]

 	s = status

 	d = diff 

	# Show the diff between the latest commit and the current state.
 	dd = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"


	# `git di $number` shows the diff between the state `$number` revisions ago and the current state.
	di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

	# Switch to a branch, creating it if necessary.
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# List aliases.
 	aliases = config --get-regexp alias

	# Amend the currently staged files to the latest commit.
 	amend = commit --amend --reuse-message=HEAD

	# Interactive rebase with the given number of latest commits.
 	reb = "!r() { git rebase -i HEAD~$1; }; r"

	l = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'

        remote-prune = remote prune origin

[pull]
	ff = only
[merge]
	conflictstyle = zdiff3
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[push]
        default = simple
	autoSetupRemote = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[init]
	defaultBranch = main
[commit]
	verbose = true
[rerere]
        enabled = true
        autoupdate = true
[help]
        autocorrect = prompt
[core]
	pager = less
	excludesfiles = ~/.gitignore
	editor = nvim
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[log]
	abbrevCommit = true
	follow = true
[user]
	name = Dimitrios Vasilas 
	email = dimitrios.vasilas@scality.com
[pager]
	show = diff-so-fancy
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
